.mainText{
    font-size: 180%;
    margin-top: 15px;
    margin-bottom: 10px;
}

p{
    text-indent: 20px;
    text-align: justify;
    font-size: 130%;
}
.img{
    width: 70%;
    margin-left: 0px;
}
.pImage{
    text-indent: 0px;
    margin-bottom: 20px;
}
.offP{
    text-indent: 0px;
}
ul.listText{
    text-indent: 20px;
    font-size: 180%;
}
ul.listText li{
    text-indent: 0px;
    font-size: 80%;
}

@media only screen and (max-width: 800px){
    .img{
        width: 80%;
    }
    #ShowPage ul li{
        font-size: 50%;
        margin-left: 10px;
    }
}