.mainText{
    font-size: 150%;
    margin-top: 15px;
    margin-bottom: 10px;
}

p{
    text-indent: 20px;
    text-align: justify;
}
.img{
    width: 70%;
    margin-left: 0px;
}
.pImage{
    text-indent: 0px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 800px){
    .img{
        width: 80%;
    }
    #ShowPage ul li{
        font-size: 80%;
        margin-left: 10px;
    }
}