body {
    background: darkcyan;
}
.contentCenter{
    text-align: center;
    margin: auto;
}

header{
    padding-left: 20px;
    font-size: 50px;
    background: violet;
}

.listData {
    font-size: 20;
    margin-top: 10px;
    margin-left: 10px;
}
.listData h1{
    font-size: 25px;
    text-align: center;
}
.listData ul{
    padding-top: 5px;
    font-size: 22px;
    padding: 15px;
}
.listData ul li{
    font-size: 18px;
}
.listData ul a{
    color: black;
}

.testPage{
    background: white;
    border-radius: 10px;
}
