body {
    background: #eeeeff;
}

.contentCenter{
    text-align: center;
    margin: auto;
}
.rowCenter{
    margin-left: auto;
    margin-right: auto;
}

header{
    background: #2c3762;
}
header h1{
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
}
img{
    width: 70px;
    margin: 5px;
    margin-left: 50px;
}

#mainBlock
{
    margin-top: 30px;
}

.listData {
    color: black;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
.listData h1{
    font-size: 25px;
    text-align: center;
}
.listData ul{
    padding-top: 5px;
    font-size: 22px;
    padding: 15px;
}
.listData ul li{
    font-size: 18px;
}
.listData ul a{
    color: black;
}

.testPage{
    border-radius: 10px;
}

#ShowPage{
    width: 1050px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(221, 221, 221, 1);
}

@media only screen and (max-width: 800px)
{
    
}
